@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/*! GENERAL !*/
	body {
		@apply text-neutral-900 bg-neutral-100;
	}
	.max-desktop-width {
		@apply w-full max-w-screen-xl mx-auto px-4 md:px-10;
	}
	.card {
		@apply rounded-lg shadow-[0px_2px_10px_0px_rgba(0,0,0,0.1),0px_0px_2px_0px_rgba(0,0,0,0.2)] bg-white overflow-hidden;
	}

	/*! Table !*/
	/* .table-wrapper {
		@apply relative overflow-x-auto shadow-md rounded-lg;
	}
	.table-wrapper table {
		@apply w-full text-sm text-left text-neutral-500;
	}
	.table-wrapper table thead {
		@apply text-xs text-neutral-700 uppercase bg-neutral-50;
	}
	.table-wrapper table thead th {
		@apply px-6 py-3;
	}
	.table-wrapper table thead th.row,
	.table-wrapper table thead th.action {
		@apply w-1/12;
	}
	.table-wrapper table tbody tr {
		@apply bg-white border-b last:border-none;
	}
	.table-wrapper table tbody tr td {
		@apply px-6 py-4;
	} */

	/*! INPUT, SELECT, TEXTAREA !*/
	.form-input {
		@apply grid gap-2 h-max;
	}
	.form-input label {
		@apply text-sm text-neutral-900;
	}
	.form-input input,
	.form-input textarea,
	.form-input select {
		@apply text-neutral-900 w-full py-1.5 px-2.5 text-sm bg-white border border-neutral-500 rounded-md focus:ring-blue-500 focus:border-blue-500;
	}

	/** error **/
	.form-input.error label {
		@apply text-red-700;
	}
	.form-input.error input,
	.form-input.error textarea,
	.form-input.error select {
		@apply bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:border-red-500 ring-red-500 outline-none;
	}

	/** disabled **/
	.form-input.disabled {
		@apply opacity-50 cursor-not-allowed;
	}
	.form-input.disabled input,
	.form-input.disabled textarea,
	.form-input.disabled select {
		@apply cursor-not-allowed;
	}

	/** readonly **/
	.form-input.readonly input,
	.form-input.readonly textarea,
	.form-input.readonly select {
		@apply !outline-none;
	}


	/*! BUTTON !*/
	.btn {
		@apply flex items-center justify-center text-sm font-bold w-max h-max duration-100 active:scale-95 outline-none;
	}

	.btn.disabled {
		@apply active:scale-100 cursor-default opacity-50;
	}

	.btn.black {
		@apply text-white bg-neutral-800 hover:bg-neutral-900;
	}
	.btn.white {
		@apply text-neutral-800 bg-white border border-neutral-800 hover:border-neutral-900 hover:text-neutral-900;
	}
	.btn.simple {
		@apply text-neutral-800 hover:text-neutral-900;
	}
	.btn.green {
		@apply text-white bg-green-700 hover:bg-green-800;
	}
	.btn.green-outline {
		@apply text-green-700 bg-white border border-green-700 hover:border-green-800 hover:text-green-800;
	}
	.btn.red {
		@apply text-white bg-red-700 hover:bg-red-800;
	}
	.btn.red-outline {
		@apply text-red-700 bg-white border border-red-700 hover:border-red-800 hover:text-red-800;
	}
	.btn.blue {
		@apply text-white bg-blue-700 hover:bg-blue-800;
	}
	.btn.blue-outline {
		@apply text-blue-700 bg-white border border-blue-700 hover:border-blue-800 hover:text-blue-800;
	}

	.btn.small {
		@apply px-1 py-0.5 text-xs rounded;
	}
	.btn.medium {
		@apply px-4 py-1.5 rounded;
	}
	.btn.large {
		@apply px-6 py-3 rounded-xl;
	}
	.btn.icon {
		@apply size-8 rounded;
	}

	/*! BADGE !*/
	.badge {
		@apply w-max;
	}
	.badge.green {
		@apply bg-green-100 text-green-800;
	}
	.badge.blue {
		@apply bg-blue-100 text-blue-800;
	}
	.badge.gray {
		@apply bg-neutral-100 text-neutral-800;
	}
	.badge.red {
		@apply bg-red-100 text-red-800;
	}
	.badge.yellow {
		@apply bg-yellow-100 text-yellow-800;
	}

	.badge.small {
		@apply text-xs rounded-sm py-0.5 px-2;
	}
	.badge.medium {
		@apply text-sm rounded py-0.5 px-2.5;
	}
	.badge.large {
		@apply text-base rounded-md py-1 px-3;
	}

	/*! Image !*/
	.img-box {
		@apply flex items-center justify-center overflow-hidden;
	}
	img {
		@apply w-full h-full object-contain;
	}

	/*! Skeleton !*/
	.skeleton {
		@apply relative overflow-hidden bg-neutral-200 rounded after:absolute after:top-0 after:left-0 after:h-full after:w-full after:bg-gradient-to-r after:from-neutral-200 after:via-white after:to-neutral-200 after:animate-progress;
	}
}

@layer base {
	/*! font family !*/
	@font-face {
		font-family: 'Roboto';
		src: url('../assets/Roboto.ttf');
	}
	* {
		font-family: 'Roboto';
	}
	html {
		font-family: 'Roboto';
	}
	body {
		height: auto !important;
		font-family: 'Roboto';
	}

	/* width */
	::-webkit-scrollbar {
		width: 7px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #bababa;
		border-radius: 5px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
